/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap');

.detect-title {
    display: block;
    background-color: #b6d0e2;
    text-align: center;
}

h1 {
    padding: 5px;
    font-size: 2rem;
    font-weight: 200;
}

/* Detect content */

.detect-content {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.content-title {
    padding: 30px;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    font-weight: 200;
}

/* form */

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section__labels {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section__inputs {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

label {
    position: relative;
    display: inline-block;
    padding: 5px;
    height: 30px;
    width: 220px;
    font-size: 1.2rem;
    text-align: center;
}

input,
select {
    box-sizing: border-box;
    height: 33px;
    width: 210px;
    text-align: center;
    font-size: 0.9rem;
    border: 2px black solid;
    border-radius: 3px;
}

h3 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
}

.submit__button {
    display: flex;
    justify-content: center;
}

label .tooltip {
    display: block;
    position: absolute;
    visibility: hidden;
    transform: translate(3%, -3.5rem);
    background-color: black;
    height: 20px;
    width: 200px;
    color: white;
    font-size: 0.9rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

label .tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 10px solid black;
    border-color: #000 #0000 #0000 #0000;
}

#tooltipText {
    display: flex;
    justify-content: center;
}

label:hover .tooltip {
    visibility: visible;
}

.section__output {
    padding-top: 2rem;
}
