<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sleep Disorder Detection</title>
        <link rel="stylesheet" href="../static/css/base.css">
        <link rel="stylesheet" href="../static/css/mediaquries.css">
    </head>

    <body>
        <nav id="desktop-nav">
            <div class="project-name">Sleep Disorder Detection</div>
            <div>
                <ul class="nav-links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/detect">Detect</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
        <nav id="hamburger-nav">
            <div class="project-name">Sleep Disorder Detection</div>
            <div class="hamburger-menu">
                <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li><a href="/home" onclick="toggleMenu()">Home</a></li>
                    <li><a href="/detect" onclick="toggleMenu()">Detect</a></li>
                    <li><a href="/about" onclick="toggleMenu()">About</a></li>
                </div>
            </div>
        </nav>
        <section id="content">{% block content %}{% endblock %}</section>
        <script src="../static/js/script.js"></script>
    </body>

</html>