{% extends 'base.html' %}

{% block title %}
Detect
{% endblock %}

{% block content %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/detect.css' ) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mediaquries.css' ) }}">
{% endblock %}

<div class="detect-title">
    <h1>Detect</h1>
</div>

<div class="detect-content">
    <div class="content-title">
        <h2>Let's Check if you have sleep disorder!</h2>
    </div>

    <div class="prediction-form">
        <form action="/detect" method="post">
            <div class="form__section">
                <div class="section__labels">
                    <!-- Gender label -->
                    <label for="Gender">Gender</label>
                    <!-- Age label -->
                    <label for="Age">Age</label>
                    <!-- Occupation label -->
                    <label for="Occupation">Occupation</label>
                </div>
                <div class="section__inputs">
                    <select name="Gender" id="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <input type="number" id="Age" name="Age" required />
                    <select name="Occupation" id="Occupation">
                        <option value="Accountant">Accountant</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Engineer">Engineer</option>
                        <option value="Lawyer">Lawyer</option>
                        <option value="Manager">Manager</option>
                        <option value="Nurse">Nurse</option>
                        <option value="Sales Representative">Sales Representative</option>
                        <option value="Salesperson">Salesperson</option>
                        <option value="Scientist">Scientist</option>
                        <option value="Software Engineer">Software Engineer</option>
                        <option value="Teacher">Teacher</option>
                    </select>
                </div>
            </div>
            <div class="form__section">
                <div class="section__labels">
                    <!-- Sleep Duration -->
                    <label for="Sleep Duration">Sleep Duration</label>
                    <!-- Quality of Sleep -->
                    <label for="Quality of Sleep">Quality of Sleep</label>
                    <!-- Physical Activity Level -->
                    <label for="Physical Activity Level">Physical Activity Level</label>
                </div>
                <div class="section__inputs">
                    <input type="number" step="0.1" name="Sleep Duration" />
                    <input type="number" min="1" max="10" name="Quality of Sleep" />
                    <input type="number" min="10" max="100" step="5" name="Physical Activity Level" />
                </div>
            </div>
            <div class="form__section">
                <div class="section__labels">
                    <!-- Stress Level -->
                    <label for="Stress Level">Stress Level</label>
                    <!-- BMI Category -->
                    <label for="BMI Category">BMI Category</label>
                    <!-- Daily Steps -->
                    <label for="Daily Steps">Daily Steps</label>
                </div>
                <div class="section__inputs">
                    <input type="number" min="1" max="10" step="1" name="Stress Level" />
                    <select name="BMI Category" id="BMI Category">
                        <option value="Normal">Normal</option>
                        <option value="Normal Weight">Normal Weight</option>
                        <option value="Overweight">Overweight</option>
                        <option value="Obese">Obese</option>
                    </select>
                    <input type="number" min="1000" max="10000" step="1000" name="Daily Steps" />
                </div>
            </div>
            <div class="form__section">
                <div class="section__labels">
                    <!-- Systolic blood pressure -->
                    <label for="Systolic blood pressure">Systolic blood pressure</label>
                    <!--  Diastolic blood pressure -->
                    <label for="Diastolic blood pressure">Diastolic blood pressure</label>
                    <!-- Heart Rate -->
                    <label for="Heart Rate">Heart Rate</label>
                </div>
                <div class="section__inputs">
                    <input type="number" min="10" max="200" step="5" name="Systolic blood pressure" />
                    <input type="number" min="10" max="200" step="5" name="Diastolic blood pressure" />
                    <input type="number" min="10" max="100" step="1" name="Heart Rate" />
                </div>
            </div>
        </form>
        <div class="section__output">
            <h3>{{ User_prediction }}</h3>
        </div>
    </div>
</div>


{% block javascript %}
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}

{% endblock %}